
.element {
    color: white;
    width:300px;
    height:300px;
    resize:both;
    overflow: auto;
    background-image: url("../images/share.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}