html {
  box-sizing:border-box;
}

*, ::after, ::before {
box-sizing: inherit;
}
.element{
  width: 300px;
  height: 300px;
  resize:both;
  overflow: auto;
  background-size: cover;
  background-position: center;
  background-image: url("../images/background.jpg");
}

body {
  font-family: 'Nunito', sans-serif;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

.form__header {
  text-align: center;
  text-shadow: 0px 0px 21px -5px #8E798E;
}

.form__labelText {
  width: 100%;
  max-width: 150px;
  display: inline-block;
  margin-right: 5px;
}

.form__field {
  border: 1px ridge rgb(77, 21, 21);
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0px 0px 21px -5px #8E798E;
  background-color: #FFFFFF;	
  position: relative;
}

.form__button {
  width: 100%;
  border: none; 
  background-color: darkcyan;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.form__button:hover {
background-color: rgb(80, 182, 182);
}

.form__button:active {
  background-color: rgb(125, 216, 216);
}

.form__fieldset {
  border: 1px ridge rgb(77, 21, 21);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 21px -5px #8E798E;
  background-color: #FFFFFF;	
  position: relative;
  margin: 20px 0;
}

.form__legend {
  background-color: darkcyan;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.form__paragraph {
  font-size: 30px;
  font-weight: bold;
}
