body {
  background-color: rgb(126, 105, 105);
  text-align: center;
}

.mainheadline{
  color: hsla(133, 89%, 11%, 0.747);
  background-color: rgb(219, 207, 207);
}

.secondheadline{
  color:rgba(25, 9, 97, 0.692);
  background-color: rgb(219, 207, 207);
}

.thirdheadline{
  color:rgba(38, 38, 80, 0.836);
  background-color:rgb(219, 207, 207);
}

.all{
  margin-top: 40px;
  margin-bottom: 40px;
  color:rgba(6, 1, 29, 0.692);
}

.element{
  color:brown;
}

.lastheadline{
  color:darkred;
  background-color:rgb(219, 207, 207);
}
