
html {
  box-sizing:border-box;
}

 *, ::after, ::before {
  box-sizing: inherit;
}

.element {
    width:300px;
    height:300px;
    resize:both;
    overflow: auto;
    background-image: url("../images/share.png");
}

.body {
    background-color: lightslategray (88, 88, 27);
    font-family: 'Lato', sans-serif;
    margin: auto; 
}

.container {
padding: 0 20px;
max-width: 850px;
margin: 0 auto;
}

.article__header--first {
    color:crimson;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.article {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}


.article__subHeader {
    color:black;
    background-color:blanchedalmond;
}

.article__subHeader--navigation {
    text-align: center;
    font-size: 20px;
    list-style-type: none;
}

.article__span {
    font-weight: bold;
}

.article__span--special {
    color: darkgoldenrod;
}

.article__content {
    max-width: 500;   
}

.article__header {
    background-color: indianred;  
}

.article__paragraph {
    background-color: lightsalmon;
    border-width:2px 3px;
    border-style:dashed;
    border-radius: 20px;
    border-color:brown;
    box-shadow: 0px 0px 18px 0px rgba(96, 92, 67, 0.65);
    padding: 20px;
    margin: auto;
    height: auto;
    width: 300px
}

.article__navigation{
    text-align: center;
    font-size: 20px;
    list-style-type: none;
}

.navigation__list {
    text-align: center;
    font-size: 20px;
    list-style-type: none;
}

.article__paragraph--navigation {
    text-align: center;
    font-size: 20px;
    list-style-type: none;
}

.article__header--navigation {
    text-align: center;
    font-size: 20px;
    list-style-type: none;  
}

.navigation__item {
    display: list-item;
}

.navigation__link {
    color: rgb(128, 126, 119);
    text-decoration: none;
}

.navigation__link:hover {
    color: rgb(120, 111, 122);
}

.table {
    font-family: 'Lato', sans-serif;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.tableContainer {
    overflow-x: auto;
}

.table__cell {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.table__cell:hover {
background-color:lightsalmon;
}

.table__cell--header {
    background-color:black;
    color: white;
}

.table__places {
    background-color:burlywood;
    color:white;
}
    
.table__row:hover {
    background-color: grey;
}

.table__caption {
    color:crimson;
    font-size:25px;
 }

.list {
    list-style: square inside;
    padding-left: 100px;
}

.list__item {
    padding-left: 20px;
}

.list__first {
    list-style-type: circle; 
}

.link {
color:darkgreen;
text-decoration: none;
}

.link:hover {
    color:darkgreen;
    border-bottom: 1px solid;
    outline: none;
}

.link:active {
    color: brown;
}

.dark {
    color:white;
    background-color: black;
}

.button {
    padding: 10px;
    border-radius: 0%;
    border-style: dashed;
    font-size: 15px;
}

.buttonTwo {
    text-align: center;
}

.aside {
    border-width:2px 3px;
    border-style:groove;
    border-color:brown;
    outline: 2px solid black;
    box-shadow: 0px 0px 18px 0px rgba(96, 92, 67, 0.65);
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    height: auto;
    background-color: grey;
}

.footer {
    color: purple;
    width: 100%;
    text-align: center;
}